<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="083b620f-080a-4114-a42d-a8f2f420c9ba" name="Swagger Petstore" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="083b620f-080a-4114-a42d-a8f2f420c9bafileName">Swagger-Petstore1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
