<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="db167f18-bfce-45b4-af11-5692939801bd" name="SampleServiceSoapBinding" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="db167f18-bfce-45b4-af11-5692939801bdfileName">SampleServiceSoapBinding1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
