<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4a5c5297-18cc-4af7-8ec6-151848781dc2" name="TimeServiceSoap" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4a5c5297-18cc-4af7-8ec6-151848781dc2fileName">TimeServiceSoap1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
