<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2d9f5bd5-db34-4b34-9f36-07f4ff0b4aa9" name="CalculatorSoap" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2d9f5bd5-db34-4b34-9f36-07f4ff0b4aa9fileName">CalculatorSoap1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="d8f520a3-f5a4-430e-a751-76a28e2dc7b3">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="336063cf-5d23-49f3-816c-5dcd1a21417b">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="04b34f54-5228-4893-8353-29c96b5dc3d5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
